<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goggle</title>
</head>
<body>
    <a href="/pastlife">당신의 전생은?!</a>
    <a href="/goonghap">궁합쓰?!</a>
    <a href="/opgg">lol전적검색</a>
    <br>
    <img height = '50' src='https://www.google.co.kr/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png'>
    <form action = "https://www.google.co.kr/search">
        <input name = "q"> 
        <button>검색</button>
    </form>
    <br>
    <img height = '30' src='https://logoproject.naver.com/download/NAVER_Logo.jpg'>
    <form action = "https://search.naver.com/search.naver">
        <input name = "query"> 
        <button>검색</button>
    </form>
    <img height = '60' src='https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Ft1.daumcdn.net%2Fcfile%2Ftistory%2F195B1B1C4C6F52B633'>
    <form action = "https://search.daum.net/search">
        <input name = "q"> 
        <button>검색</button>
    </form>
</body>
</html>
